{
	"endOfLine": "lf",
	"importOrder": ["^[./]"],
	"importOrderParserPlugins": ["typescript", "jsx", "decorators"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"jsonRecursiveSort": true,
	"jsonSortOrder": "{\"*\": \"lexical\"}",
	"plugins": [
		"prettier-plugin-sort-json",
		"@trivago/prettier-plugin-sort-imports"
	],
	"printWidth": 80,
	"singleQuote": true,
	"tabWidth": 2,
	"trailingComma": "all",
	"useTabs": true
}
