{
	"singleQuote": true,
	"trailingComma": "all",
	"useTabs": true,
	"printWidth": 80,
	"endOfLine": "lf",
	"plugins": ["prettier-plugin-sort-json"],
	"jsonRecursiveSort": true,
	"jsonSortOrder": "{\"*\": \"lexical\"}",
	"tabWidth": 2
}
