@import 'tailwindcss';

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
	--font-sans:
		'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
		'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-body:
		'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'system-ui',
		'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif',
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		'ui-monospace', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas',
		'Liberation Mono', 'Courier New', 'monospace';

	--color-*: initial;
	--color-black: #001011;
	--color-white: #fdfffc;
	--color-dark-white: #f3e8ee;
	--color-light-black: #001514;
	--color-dark-primary: #880d1e;
	--color-light-primary: #f49cbb;
	--color-dark-secondary: #f26a8d;
	--color-light-secondary: #f49cbb;
	--color-dark-tertiary: #55d6be;
	--color-light-tertiary: #fbfef9;
	--color-gray: #363635;
	--color-success: #56e39f;
	--color-error: #FF6978;
}

@layer {
	.center {
		@apply items-center-safe justify-center-safe flex;
	}

	a.link {
		color: var(--color-light-primary);
		@apply text-light-primary visited:text-dark-primary hover:underline active:underline;
	}

	.black-and-white-text {
		@apply text-black dark:text-white;
	}

	.primary-black-white-background {
		@apply bg-white dark:bg-black;
	}

	.secondary-black-white-background {
		@apply bg-dark-white dark:bg-light-black;
	}

	.primary-background {
		@apply bg-light-primary dark:bg-dark-primary;
	}

	.secondary-background {
		@apply bg-light-secondary dark:bg-dark-secondary;
	}

	.primary-text {
		@apply text-dark-primary dark:text-light-primary;
	}

	.secondary-text {
		@apply text-dark-secondary dark:text-light-secondary;
	}

	* {
		@apply focus:outline-dark-tertiary dark:focus:outline-light-tertiary focus:rounded-sm focus:outline-2 focus:outline-offset-2;
	}
}

@custom-variant tablet {
	@media (width >= 40rem) and (orientation: portrait) {
		@slot;
	}
}

@custom-variant desktop {
	@media (width >= 64rem) and (orientation: landscape) {
		@slot;
	}
}
